* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(221, 215, 250);
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-items: start;
  justify-items: center;
  height: 100vh;
}

header {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: auto;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

.board {
  padding-top: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  max-width: 468px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#new {
  background-color: rgb(225, 255, 182);
  border: none;
  font-size: 22px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 3px;
}

.win {
  background-color: rgb(84, 255, 75);
}

button {
  background-color: rgb(255, 220, 182);
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 3px;
}

button:hover {
  background-color: rgb(255, 201, 144);
}

#new:hover {
  background-color: rgb(201, 255, 125);
}

.playerOne {
  background: url("img/hexagon-outline.svg") no-repeat center;
}

.playerTwo {
  background: url("img/hexagon-slice-6.svg") no-repeat center;
}